{{<partials-page}} 
  {{$page-content}}
    <div class="govuk-form-group">
      <fieldset class="govuk-fieldset" role="group" aria-describedby="time-crime-will-happen-hint">
        <legend><strong>Time</strong></legend>
        <div id="time-crime-will-happen-hint" class="govuk-hint">
          Please enter as a 24-hour clock. For example, midnight would be 00 00.
        </div>
        <div class="time-input__item">
          {{#input-text}}time-crime-will-happen-hour{{/input-text}}
        </div>
        <div class="time-input__item">
          {{#input-text}}time-crime-will-happen-minute{{/input-text}}
        </div>
      </fieldset>
    </div>
    <div>
      <legend><strong>Date</strong></legend>
      {{#input-date}}date-crime-will-happen{{/input-date}}
    </div>
    
    {{#input-submit}}continue{{/input-submit}}
  {{/page-content}}
{{/partials-page}}
