@import "hof/frontend/themes/gov-uk/styles/govuk";

.phase-banner {
  @include phase-banner(beta);
}

ul {
  @extend .text;
  @extend .list;
  @extend .list-bullet;
}

a {
  @extend .govuk-link;
}

pre.looped-records {
  white-space: pre-wrap;
  word-wrap: break-word;
  word-break: break-all;
}

