@import "hof/frontend/themes/gov-uk/styles/govuk";

ul {
  @extend .govuk-list;
  @extend .govuk-list--bullet;
}

a:link {
  @extend .govuk-link;
}

// navigation layout
$navigation-height: 50px;

.govuk-link:hover {
  font-family: "GDS Transport", arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-decoration: underline;
  text-decoration-thickness: max(1px, 0.0625rem);
  text-underline-offset: 0.1em;
}

.app-navigation__list {
  @include govuk-media-query($from: tablet) {
    margin-top: govuk-spacing(6) * 1.5;
  }

  ul {
    list-style: none;
    padding: 0;
    margin: 0;

    ul {
      margin-top: govuk-spacing(2);
      border-top: 1px govuk-shade(govuk-colour("light-grey"), 7%) solid;
    }
  }
}

.app-navigation__list-item {
  @include govuk-font(16);

  border-bottom: 1px govuk-shade(govuk-colour("light-grey"), 7%) solid;
  display: block;
  padding: govuk-spacing(2) 0;
}



.app-navigation__link {
  text-decoration: none;

  &:not(:focus):hover {
    color: #1d70b8;
    text-decoration-thickness: max(3px, 0.1875rem, 0.12em);
  }

  // Extend the touch area of the link to the list
  &:after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
  }
}

.app-navigation__list-item--current .app-navigation__link:hover {
  text-decoration: none;
}

#govuk-header {
  background-color: black;
}
pre.looped-records {
  white-space: pre-wrap;
  word-wrap: break-word;
  word-break: break-all;
}

.crime-nav {
  background-color: #1d70b8;
}
.crime-nav > a {
  color: white !important;
}

.person-nav {
  background-color: #1d70b8;
}
.person-nav > a {
  color: white !important;
}

.organisation-nav {
  background-color: #1d70b8;
}
.organisation-nav > a {
  color: white !important;
}

.other-info-nav {
  background-color: #1d70b8;
}
.other-info-nav > a {
  color: white !important;
}

.about-you-nav {
  background-color: #1d70b8;
}
.about-you-nav > a {
  color: white !important;
}

.check-answers-nav {
  background-color: #1d70b8;
}
.check-answers-nav > a {
  color: white !important;
}

.time-input__item {
  display: inline-block;
  margin-right: 20px;
  margin-bottom: 0;
}
.time-input__item  .govuk-input__wrapper {
display: block;
}
.time-input__item .govuk-form-group--error {
  border-left: none;
  padding-left: 0px;
}
.time-input__item .govuk-error-message {
  display: none;
}
.add-another-hidden{
  visibility: hidden;
}
