---
apiVersion: apps/v1
kind: Deployment
metadata:
  {{ if eq .KUBE_NAMESPACE .BRANCH_ENV }}
  name: file-vault-{{ .DRONE_SOURCE_BRANCH }}
  {{ else }}
  name: file-vault
  {{ end }}
spec:
  {{ if eq .KUBE_NAMESPACE .PROD_ENV }}
  replicas: 2
  {{ else }}
  replicas: 1
  {{ end }}
  selector:
    matchLabels:
      {{ if eq .KUBE_NAMESPACE .BRANCH_ENV }}
      name: file-vault-{{ .DRONE_SOURCE_BRANCH }}
      service: file-vault-{{ .DRONE_SOURCE_BRANCH }}
      {{ else }}
      name: file-vault
      service: file-vault
      {{ end }}
  template:
    metadata:
      labels:
        {{ if eq .KUBE_NAMESPACE .BRANCH_ENV }}
        name: file-vault-{{ .DRONE_SOURCE_BRANCH }}
        service: file-vault-{{ .DRONE_SOURCE_BRANCH }}
        {{ else }}
        name: file-vault
        service: file-vault
        {{ end }}
    spec:
      containers:
        - name: file-vault
          # v3.0.1 28th August 2025
          image: quay.io/ukhomeofficedigital/file-vault:3.0.1@sha256:44f35820701981eeb3371d332e6fd53f697e1bcd60f75731a57e8da6edb7bed5
          imagePullPolicy: Always
          resources:
            limits:
              memory: "1024Mi"
              cpu: 200m
            requests:
              memory: 512Mi
          envFrom:
            - configMapRef:
                {{ if eq .KUBE_NAMESPACE .BRANCH_ENV }}
                name: {{ .APP_NAME }}-configmap-{{ .DRONE_SOURCE_BRANCH }}
                {{ else }}
                name: {{ .APP_NAME }}-configmap
                {{ end }}
          env:
            - name: NODE_TLS_REJECT_UNAUTHORIZED
              value: "0"
            - name: FILE_VAULT_URL
            {{ if eq .KUBE_NAMESPACE .PROD_ENV }}
              value: https://fv-paf.sas.homeoffice.gov.uk
            {{ else if eq .KUBE_NAMESPACE .STG_ENV }}
              value: https://fv-paf.stg.sas.homeoffice.gov.uk
            {{ else if eq .KUBE_NAMESPACE .UAT_ENV }}
              value: https://fv-paf.uat.sas-notprod.homeoffice.gov.uk
            {{ else if eq .KUBE_NAMESPACE .BRANCH_ENV }}
              value: https://fv-{{ .DRONE_SOURCE_BRANCH }}.{{ .BRANCH_ENV }}.homeoffice.gov.uk
            - name: DEBUG
              value: "true"
            {{ end }}
            - name: PORT
              value: "3000"
            - name: CLAMAV_REST_URL
              value: https://clamav.virus-scan.svc.cluster.local/scan
            - name: AWS_ACCESS_KEY_ID
              valueFrom:
                secretKeyRef:
                {{ if eq .KUBE_NAMESPACE .PROD_ENV }}
                  name: sas-paf-s3
                  key: iam_access_key
                {{else}}
                  name: paf-notprod-s3
                  key: access_key_id
                {{end}}
            - name: AWS_SECRET_ACCESS_KEY
              valueFrom:
                secretKeyRef:
                {{ if eq .KUBE_NAMESPACE .PROD_ENV }}
                  name: sas-paf-s3
                  key: iam_access_secret
                {{else}}
                  name: paf-notprod-s3
                  key: secret_access_key
                {{end}}
            - name: AWS_KMS_KEY_ID
              valueFrom:
                secretKeyRef:
                {{ if eq .KUBE_NAMESPACE .PROD_ENV }}
                  name: sas-paf-s3
                {{else}}
                  name: paf-notprod-s3
                {{end}}
                  key: kms_key_id
            - name: AWS_BUCKET
              valueFrom:
                secretKeyRef:
                {{ if eq .KUBE_NAMESPACE .PROD_ENV }}
                  name: sas-paf-s3
                  key: s3_bucket_name
                {{else}}
                  name: paf-notprod-s3
                  key: name
                {{end}}
            - name: AWS_PASSWORD
              valueFrom:
                secretKeyRef:
                  name: ses
                  key: smtp_password
            - name: ALLOW_GENERATE_LINK_ROUTE
              value: "yes"
          securityContext:
            runAsNonRoot: true

        - name: keycloak-proxy
          image: quay.io/ukhomeofficedigital/gogatekeeper:3.5.0
          resources:
            limits:
              memory: "1024Mi"
              cpu: 200m
          env:
            - name: PROXY_CLIENT_SECRET
              valueFrom:
                secretKeyRef:
                  name: keycloak-client
                  key: secret
            - name: PROXY_CLIENT_ID
              valueFrom:
                secretKeyRef:
                  name: keycloak-client
                  key: id
            - name: PROXY_LISTEN
              value: 127.0.0.1:3001
            - name: PROXY_UPSTREAM_URL
              value: "http://127.0.0.1:3000"
            - name: PROXY_REDIRECTION_URL
            {{ if eq .KUBE_NAMESPACE .PROD_ENV }}
              value: https://fv-paf.sas.homeoffice.gov.uk
            {{ else if eq .KUBE_NAMESPACE .STG_ENV }}
              value: https://fv-paf.stg.sas.homeoffice.gov.uk
            {{ else if eq .KUBE_NAMESPACE .UAT_ENV }}
              value: https://fv-paf.uat.sas-notprod.homeoffice.gov.uk
            {{ else if eq .KUBE_NAMESPACE .BRANCH_ENV }}
              value: https://fv-{{ .DRONE_SOURCE_BRANCH }}.{{ .BRANCH_ENV }}.homeoffice.gov.uk
            {{ end }}
          args:
            # the url which is used to retrieve the OpenID configuration
            {{ if eq .KUBE_NAMESPACE .BRANCH_ENV }}
            - --discovery-url=https://acp-sso.notprod.acp.homeoffice.gov.uk/realms/paf-notprod
            {{ else }}
            - --discovery-url=https://acp-sso.prod.acp.homeoffice.gov.uk/realms/paf
            # URls that you wish to protect.
            - --resources=uri=/*
            - --enable-default-deny=false
            - --enable-security-filter=true
            - --enable-request-id=true
            - --enable-logging=true
            - --enable-json-logging=true
            - --enable-encrypted-token=false
            {{ if eq .KUBE_NAMESPACE .BRANCH_ENV }}
            - --verbose=true
            {{ end }}
          ports:
            - containerPort: 3001
          securityContext:
            runAsNonRoot: true
          terminationMessagePath: /dev/termination-log
          terminationMessagePolicy: File
          volumeMounts:
            - mountPath: /certs
              name: certs
            - mountPath: /etc/ssl/certs
              name: bundle
              readOnly: true

        - name: nginx-proxy
          # nginx-proxy-govuk:v4
          image: quay.io/ukhomeofficedigital/nginx-proxy-govuk@sha256:4470064d0b1d20ae08c5fd85551576cb687f342a22d6cb456fda9b2c4ce8c8df
          resources:
            limits:
              memory: "1024Mi"
              cpu: 200m
            requests:
              memory: 512Mi
          ports:
            - containerPort: 10080
            - containerPort: 10443
          env:
{{ file .FILEVAULT_NGINX_SETTINGS | indent 12 }}
          securityContext:
            runAsNonRoot: true
          volumeMounts:
            - mountPath: /certs
              name: certs
              readOnly: true
            - name: bundle
              mountPath: /etc/ssl/certs
              readOnly: true
      volumes:
        - name: certs
          secret:
            {{ if eq .KUBE_NAMESPACE .BRANCH_ENV }}
            secretName: branch-tls-external
            {{ else }}
            secretName: file-vault-cert
            {{ end }}
        - name: bundle
          configMap:
            name: bundle
