<div id="car-group" class="govuk-form-group govuk-radios__conditional govuk-radios__conditional--hidden">
  <fieldset class="govuk-fieldset">
    <div class="govuk-radios" data-module="govuk-radios">
      <div class="govuk-radios__item">
        <input class="govuk-radios__input" type="radio" name="car-group" id="car-group-car" value="car">
        <label class="govuk-label govuk-radios__label" for="car-group-car">
          {{#t}}fields.car-group.options.car{{/t}}
        </label>
      </div>
      <div class="govuk-radios__item">
        <input class="govuk-radios__input"  type="radio" name="car-group" id="car-group-car-transporter"  value="car-transporter">
        <label class="govuk-label govuk-radios__label" for="car-group-car-transporter">
          {{#t}}fields.car-group.options.car-transporter{{/t}}
        </label>
      </div>
    </div>
  </fieldset>
</div>
