<div id="crime-hgv-group" class="govuk-form-group govuk-radios__conditional govuk-radios__conditional--hidden">
  <fieldset class="govuk-fieldset">
    <div class="govuk-radios" data-module="govuk-radios">
      <div class="govuk-radios__item">
        <input class="govuk-radios__input" type="radio" name="crime-hgv-group" id="crime-hgv-group-hgv-canvas-sided" value="hgv-canvas-sided" {{#hgvCSChecked}}checked="checked"{{/hgvCSChecked}} >
        <label class="govuk-label govuk-radios__label" for="crime-hgv-group-hgv-canvas-sided">
          {{#t}}fields.crime-hgv-group.options.hgv-canvas-sided{{/t}}
        </label>
      </div>
      <div class="govuk-radios__item">
        <input class="govuk-radios__input"  type="radio" name="crime-hgv-group" id="crime-hgv-group-hgv-flatbed"  value="hgv-flatbed" {{#hgvFChecked}}checked="checked"{{/hgvFChecked}}>
        <label class="govuk-label govuk-radios__label" for="crime-hgv-group-hgv-flatbed">
          {{#t}}fields.crime-hgv-group.options.hgv-flatbed{{/t}}
        </label>
      </div>
      <div class="govuk-radios__item">
        <input class="govuk-radios__input"  type="radio" name="crime-hgv-group" id="crime-hgv-group-hgv-hard-sided"  value="hgv-hard-sided" {{#hgvHSChecked}}checked="checked"{{/hgvHSChecked}}>
        <label class="govuk-label govuk-radios__label" for="crime-hgv-group-hgv-hard-sided">
          {{#t}}fields.crime-hgv-group.options.hgv-hard-sided{{/t}}
        </label>
      </div>
      <div class="govuk-radios__item">
        <input class="govuk-radios__input"  type="radio" name="crime-hgv-group" id="crime-hgv-group-hgv-refrigerated"  value="hgv-refrigerated" {{#hgvRChecked}}checked="checked"{{/hgvRChecked}}>
        <label class="govuk-label govuk-radios__label" for="crime-hgv-group-hgv-refrigerated">
          {{#t}}fields.crime-hgv-group.options.hgv-refrigerated{{/t}}
        </label>
      </div>
      <div class="govuk-radios__item">
        <input class="govuk-radios__input"  type="radio" name="crime-hgv-group" id="crime-hgv-group-hgv-tanker"  value="hgv-tanker" {{#hgvTChecked}}checked="checked"{{/hgvTChecked}}>
        <label class="govuk-label govuk-radios__label" for="crime-hgv-group-hgv-tanker">
          {{#t}}fields.crime-hgv-group.options.hgv-tanker{{/t}}
        </label>
      </div>
    </div>
  </fieldset>
</div>
