<div id="crime-vessel-group" class="govuk-form-group govuk-radios__conditional govuk-radios__conditional--hidden">
  <fieldset class="govuk-fieldset">
    <div class="govuk-radios" data-module="govuk-radios">
      <div class="govuk-radios__item">
        <input class="govuk-radios__input" type="radio" name="crime-vessel-group" id="crime-vessel-group-research-vessel" value="research-vessel">
        <label class="govuk-label govuk-radios__label" for="crime-vessel-group-research-vessel">
          {{#t}}fields.crime-vessel-group.options.research-vessel{{/t}}
        </label>
      </div>
      <div class="govuk-radios__item">
        <input class="govuk-radios__input"  type="radio" name="crime-vessel-group" id="crime-vessel-group-supply-vessel"  value="supply-vessel">
        <label class="govuk-label govuk-radios__label" for="crime-vessel-group-supply-vessel">
          {{#t}}fields.crime-vessel-group.options.supply-vessel{{/t}}
        </label>
      </div>
      <div class="govuk-radios__item">
        <input class="govuk-radios__input"  type="radio" name="crime-vessel-group" id="crime-vessel-group-support-vessel"  value="support-vessel">
        <label class="govuk-label govuk-radios__label" for="crime-vessel-group-support-vessel">
          {{#t}}fields.crime-vessel-group.options.support-vessel{{/t}}
        </label>
      </div>
    </div>
  </fieldset>
</div>
