<div id="crime-carrier-group" class="govuk-form-group govuk-radios__conditional govuk-radios__conditional--hidden">
  <fieldset class="govuk-fieldset">
    <div class="govuk-radios" data-module="govuk-radios">
      <div class="govuk-radios__item">
        <input class="govuk-radios__input" type="radio" name="crime-carrier-group" id="crime-carrier-group-bulk-carrier" value="bulk-carrier">
        <label class="govuk-label govuk-radios__label" for="crime-carrier-group-bulk-carrier">
          {{#t}}fields.crime-carrier-group.options.bulk-carrier{{/t}}
        </label>
      </div>
      <div class="govuk-radios__item">
        <input class="govuk-radios__input"  type="radio" name="crime-carrier-group" id="crime-carrier-group-vehicle-carrier"  value="vehicle-carrier">
        <label class="govuk-label govuk-radios__label" for="crime-carrier-group-vehicle-carrier">
          {{#t}}fields.crime-carrier-group.options.vehicle-carrier{{/t}}
        </label>
      </div>
      <div class="govuk-radios__item">
        <input class="govuk-radios__input"  type="radio" name="crime-carrier-group" id="crime-carrier-group-vessel-carrier"  value="vessel-carrier">
        <label class="govuk-label govuk-radios__label" for="crime-carrier-group-vessel-carrier">
          {{#t}}fields.crime-carrier-group.options.vessel-carrier{{/t}}
        </label>
      </div>
    </div>
  </fieldset>
</div>
