<div id="crime-car-group" class="govuk-form-group govuk-radios__conditional govuk-radios__conditional--hidden">
  <fieldset class="govuk-fieldset">
    <div class="govuk-radios" data-module="govuk-radios">
      <div class="govuk-radios__item">
        <input class="govuk-radios__input" type="radio" name="crime-car-group" id="crime-car-group-car" value="car" {{#carChecked}} checked="checked"{{/carChecked}}>
        <label class="govuk-label govuk-radios__label" for="crime-car-group-car">
          {{#t}}fields.crime-car-group.options.car{{/t}}
        </label>
      </div>
      <div class="govuk-radios__item">
        <input class="govuk-radios__input"  type="radio" name="crime-car-group" id="crime-car-group-car-transporter"  value="car-transporter" {{#carTransporterChecked}} checked="checked"{{/carTransporterChecked}}>
        <label class="govuk-label govuk-radios__label" for="crime-car-group-car-transporter">
          {{#t}}fields.crime-car-group.options.car-transporter{{/t}}
        </label>
      </div>
    </div>
  </fieldset>
</div>   
