<div>
  <fieldset id="location-group" class="govuk-radios__conditional govuk-radios__conditional--hidden">
    {{#select}}crime-location-country{{/select}}
    {{#input-text}}crime-location-address-line1{{/input-text}}
    {{#input-text}}crime-location-address-line2{{/input-text}}
    {{#input-text}}crime-location-address-town{{/input-text}}
    {{#input-text}}crime-location-address-county{{/input-text}}
    {{#input-text}}crime-location-address-postcode{{/input-text}}
    {{#input-text}}crime-location-phone{{/input-text}}
</div>
