<div>
  <fieldset id="another-location-group" class="govuk-radios__conditional govuk-radios__conditional--hidden">
    {{#select}}crime-another-location-country{{/select}}
    {{#input-text}}crime-another-location-address-building{{/input-text}}
    {{#input-text}}crime-another-location-address-street{{/input-text}}
    {{#input-text}}crime-another-location-address-townOrCity{{/input-text}}
    {{#input-text}}crime-another-location-address-county{{/input-text}}
    {{#input-text}}crime-another-location-address-postcodeOrZIPCode{{/input-text}}
    {{#input-text}}crime-another-location-phone{{/input-text}}
</div>
