<div id="report-person-transport-van-group" class="govuk-form-group govuk-radios__conditional govuk-radios__conditional--hidden">
  <fieldset class="govuk-fieldset">
    <div class="govuk-radios" data-module="govuk-radios">
      <div class="govuk-radios__item">
        <input class="govuk-radios__input" type="radio" name="report-person-transport-van-group" id="report-person-transport-van-group-van" value="van">
        <label class="govuk-label govuk-radios__label" for="report-person-transport-van-group-van">
          {{#t}}fields.report-person-transport-van-group.options.van{{/t}}
        </label>
      </div>
      <div class="govuk-radios__item">
        <input class="govuk-radios__input"  type="radio" name="report-person-transport-van-group" id="report-person-transport-van-group-van-and-trailer"  value="van-and-trailer">
        <label class="govuk-label govuk-radios__label" for="report-person-transport-van-group-van-and-trailer">
          {{#t}}fields.report-person-transport-van-group.options.van-and-trailer{{/t}}
        </label>
      </div>
      <div class="govuk-radios__item">
        <input class="govuk-radios__input"  type="radio" name="report-person-transport-van-group" id="report-person-transport-van-group-van-other"  value="van-other">
        <label class="govuk-label govuk-radios__label" for="report-person-transport-van-group-van-other">
          {{#t}}fields.report-person-transport-van-group.options.van-other{{/t}}
        </label>
      </div>
      <div class="govuk-radios__item">
        <input class="govuk-radios__input"  type="radio" name="report-person-transport-van-group" id="report-person-transport-van-group-seven-point-five-tonne-van"  value="seven-point-five-tonne-van">
        <label class="govuk-label govuk-radios__label" for="report-person-transport-van-group-seven-point-five-tonne-van">
          {{#t}}fields.report-person-transport-van-group.options.seven-point-five-tonne-van{{/t}}
        </label>
      </div>
    </div>
  </fieldset>
</div>
