<div id="report-person-transport-hgv-group" class="govuk-form-group govuk-radios__conditional govuk-radios__conditional--hidden">
  <fieldset class="govuk-fieldset">
    <div class="govuk-radios" data-module="govuk-radios">
      <div class="govuk-radios__item">
        <input class="govuk-radios__input" type="radio" name="report-person-transport-hgv-group" id="report-person-transport-hgv-group-hgv-canvas-sided" value="hgv-canvas-sided" {{#personHgvCSChecked}}checked="checked"{{/personHgvCSChecked}}>
        <label class="govuk-label govuk-radios__label" for="report-person-transport-hgv-group-hgv-canvas-sided">
          {{#t}}fields.report-person-transport-hgv-group.options.hgv-canvas-sided{{/t}}
        </label>
      </div>
      <div class="govuk-radios__item">
        <input class="govuk-radios__input"  type="radio" name="report-person-transport-hgv-group" id="report-person-transport-hgv-group-hgv-flatbed"  value="hgv-flatbed" {{#personHgvFChecked}}checked="checked"{{/personHgvFChecked}}>
        <label class="govuk-label govuk-radios__label" for="report-person-transport-hgv-group-hgv-flatbed">
          {{#t}}fields.report-person-transport-hgv-group.options.hgv-flatbed{{/t}}
        </label>
      </div>
      <div class="govuk-radios__item">
        <input class="govuk-radios__input"  type="radio" name="report-person-transport-hgv-group" id="report-person-transport-hgv-group-hgv-hard-sided"  value="hgv-hard-sided" {{#personHgvHSChecked}}checked="checked"{{/personHgvHSChecked}}>
        <label class="govuk-label govuk-radios__label" for="report-person-transport-hgv-group-hgv-hard-sided">
          {{#t}}fields.report-person-transport-hgv-group.options.hgv-hard-sided{{/t}}
        </label>
      </div>
      <div class="govuk-radios__item">
        <input class="govuk-radios__input"  type="radio" name="report-person-transport-hgv-group" id="report-person-transport-hgv-group-hgv-refrigerated"  value="hgv-refrigerated" {{#personHgvRChecked}}checked="checked"{{/personHgvRChecked}}>
        <label class="govuk-label govuk-radios__label" for="report-person-transport-hgv-group-hgv-refrigerated">
          {{#t}}fields.report-person-transport-hgv-group.options.hgv-refrigerated{{/t}}
        </label>
      </div>
      <div class="govuk-radios__item">
        <input class="govuk-radios__input"  type="radio" name="report-person-transport-hgv-group" id="report-person-transport-hgv-group-hgv-tanker"  value="hgv-tanker"  {{#personHgvTChecked}}checked="checked"{{/personHgvTChecked}}>
        <label class="govuk-label govuk-radios__label" for="report-person-transport-hgv-group-hgv-tanker">
          {{#t}}fields.report-person-transport-hgv-group.options.hgv-tanker{{/t}}
        </label>
      </div>
    </div>
  </fieldset>
</div>
