<div class="govuk-grid-column-one-third">
  <nav>
    <ul>
      <li class="app-navigation__list-item">
        <a class="govuk-link govuk-link--no-visited-state govuk-link--no-underline" href="/"
          data-topnav="Start">Start</a>
      </li>
      <li id="crime-nav" class="app-navigation__list-item">
        <a class="govuk-link govuk-link--no-visited-state govuk-link--no-underline"
          href="{{baseUrl}}/crime-type?section=crime" data-topnav="The Crime">The Crime</a>
      </li>
      {{#enableSection}}
      <li id="person-nav" class="app-navigation__list-item">
        <a class="govuk-link govuk-link--no-visited-state govuk-link--no-underline"
          href="{{baseUrl}}/report-person?section=person" data-topnav="The Person">The Person</a>
      </li>
      <li id= "organisation-nav" class="app-navigation__list-item">
        <a class="govuk-link govuk-link--no-visited-state govuk-link--no-underline"
          href="{{baseUrl}}/report-organisation?section=organisation" data-topnav="The Organisation">The
          Organisation</a>
      </li>
      <li id="other-info-nav" class="app-navigation__list-item">
        <a class="govuk-link govuk-link--no-visited-state govuk-link--no-underline"
          href="{{baseUrl}}/other-info-description?section=other-info" data-topnav="Other Info">Other Information</a>
      </li>
      <li id="about-you-nav" class="app-navigation__list-item">
        <a class="govuk-link govuk-link--no-visited-state govuk-link--no-underline"
          href="{{baseUrl}}/about-you?section=about-you" data-topnav="About You">About You</a>
      </li>
      <li id="check-answers-nav" class="app-navigation__list-item">
        <a class="govuk-link govuk-link--no-visited-state govuk-link--no-underline"
          href="{{baseUrl}}/confirm?section=check-answers" data-topnav="Check Your Answers">Check
          Your Answers</a>
      </li>
      {{/enableSection}}
      {{^enableSection}}
      <li class="app-navigation__list-item">
        <a role="link" class="govuk-link--no-visited-state govuk-link--no-underline" aria-disabled="true">The Person</a>
      </li>
      <li class="app-navigation__list-item">
        <a role="link" class="govuk-link--no-visited-state govuk-link--no-underline" aria-disabled="true">The
          Organisation</a>
      </li>
      <li class="app-navigation__list-item">
        <a role="link" class="govuk-link--no-visited-state govuk-link--no-underline" aria-disabled="true">Other Information</a>
      </li>
      <li class="app-navigation__list-item">
        <a role="link" class="govuk-link--no-visited-state govuk-link--no-underline" aria-disabled="true">About You</a>
      </li>
      <li class="app-navigation__list-item">
        <a role="link" class="govuk-link--no-visited-state govuk-link--no-underline" aria-disabled="true">Check Your
          Answers</a>
      </li>
    </ul>
    {{/enableSection}}
  </nav>
</div>
